:root {
  --white: hsl(0°, 100%, 100%);
  --black: hsl(0°, 0%, 0%);

  --gray-800: hsl(0°, 0%, 27%);
  --gray-500: hsl(0°, 0%, 63%);
  --gray-200: hsl(0°, 0%, 85%);
  --gray-100: hsl(0°, 0%, 94%);
  --gray-050: hsl(0°, 0%, 98%);

  --background-color: var(--black);
  --text-color: var(--white);
}
