@use "../util/" as u;

:root {
  --spacing-0100: u.rem(8px);
  --spacing-0200: u.rem(16px);
  --spacing-0300: u.rem(24px);
  --spacing-0400: u.rem(32px);
  --spacing-0700: u.rem(56px);
  --spacing-1000: u.rem(80px);
  --spacing-1300: u.rem(104px);
  --spacing-1600: u.rem(128px);
  --spacing-2000: u.rem(160px);
  --spacing-2200: u.rem(176px);
  --spacing-2300: u.rem(184px);
}
