@use "../util/" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100% - u.rem(20), u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 100%, 31%);
  }

  &__sidebar {
    background-color: hsl(300, 100%, 25%);
    text-align: center;

    @include u.breakpoint("large") {
      text-align: left;
    }
  }
}
