.button-nb {
  background-color: var(--black);
  border: none;
  aspect-ratio: 1;

  display: grid;
  justify-content: center;
  align-items: center;
  img {
    filter: brightness(100);
  }
}

.button-nb:hover,
.button-nb:active,
.button-nb:focus {
  background-color: var(--gray-800);
}
